/* styles2.css */
.search-results-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}

.search-result-item {
    flex: 0 0 calc(25% - 1rem);
    background-color: #282828;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    text-align: center;
    padding: 1rem;
}

.search-result-item:hover {
    transform: scale(1.05);
    background-color: #d3d3d3;
}

.search-result-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.search-result-item h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #ff5722;
}

.underline {
    width: 50%;
    height: 2px;
    background-color: red;
    margin: 0.5rem 0;
}
